.PasswordReset {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #dddddd;
}

.Container {
  height: auto;
  width: 32vw;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25vh;
  right: 32vw;
  padding-top: 1.3%;
  padding-left: 2.3%;
  padding-right: 2.3%;
}

.Password {
    font-weight: bold;
    font-size: 2vw;
    margin-bottom: 2vw;
}